<% if admin_logged_in? %>
	<div class="panel panel-primary">
		<div class="panel-heading">
			備品を追加
		</div>
		<div class="panel-body">
			<form class="form-inline" id="addBihinForm">
				<div class="form-group">
					<input type="text" class="form-control" placeholder="品名">
					<input type="text" class="form-control" placeholder="型番">
					<input type="text" class="form-control" placeholder="保管場所">
					<button class="btn btn-primary">登録</button>
				</div>
			</form>
		</div>
	</div>
<% end %>
<form class="form-inline">
	<div class="form-group">
		<div class="input-group">
			<%= form_tag(fixtures_path,:method => 'get') do %>
			  <%= text_field_tag :query, '', class: "form-control", placeholder: "備品名、型番" %>
			  <span class="input-group-btn">
			  <%= submit_tag 'Search', :name => nil, class: "btn btn-default" %>
			  </span>
			<% end %>
		</div>
	</div>
	
		<% if admin_logged_in? %>
			<button type="button" class="btn btn-danger pull-right" id="bihinDeleteBtn" data-toggle="modal" data-target="#bihinDeleteModal">削除</button>
			<%#= button_to "削除", {controller: 'bihins', action: 'result'}, {method: :get, class: "btn btn-danger pull-right",id: "bihinDeleteBtn",data-toggle: "modal",data-target: "#bihinDeleteModal"} %>
			<button type="button" class="btn btn-default pull-right">編集</button>
			<%#= button_to "編集", {controller: 'bihins', action: 'result'}, {method: :get, class: "btn btn-default pull-right"} %>
			
			<div class="modal fade" id="bihinDeleteModal" tabindex="-1">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal"><span>×</span></button>
							<h4 class="modal-title">選択した備品を削除します。</h4>
						</div>
						<div class="modal-body">
							
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">キャンセル</button>
							<button type="button" class="btn btn-danger">削除</button>
						</div>
					</div>
				</div>
			</div>
	<% end %>
</form>


<table class="table table-hover table-bordered">
	<thead>
		<tr>
		<% if admin_logged_in? %>
			<th>選択</th>
		<% end %>
			<th>品名</th>
			<th>型番</th>
			<th>保管場所</th>
			<th>状態</th>
			<th>借りた人</th>
			<th>所属部署</th>
			<th>返却期限</th>
			<th>備考</th>
		</tr>
	</thead>
	<tbody>
		<% @fixtures.each do |fixture| %>
		<% if fixture.rent %>
			<tr class="danger">
		<% else %>
			<tr class="success">
		<% end %>
			<% if admin_logged_in? %>
				<td>
					<input id=<%= "checkboxNumber" + fixture.id.to_s %> type="checkbox">
				</td>
			<% end %>
				<td>
					<%= fixture.name %>
				</td>
				<td>
					<%= fixture.type_number %>
				</td>
				<td>
					<%= @room.find(fixture.room).name %>
				</td>
				<td>
					<% if fixture.rent %>
						貸出中
					<% else %>
						<button class="btn btn-success" data-toggle="modal" data-target=<%= "#confirmRent" + fixture.id.to_s %>>借りる</button>
					<% end %>
					<div class="modal fade" id=<%= "confirmRent" + fixture.id.to_s %> tabindex="-1">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal"><span>×</span></button>
									<h4 class="modal-title">以下の備品を借ります</h4>
								</div>
								<div class="modal-body">
									<div>
										<b>品名：</b> <%= fixture.name %><br>
										<b>型番：</b> <%= fixture.type_number %><br>
										<b>保管場所：</b> <%= fixture.room.name %>
									</div>
									<form class="form-inline" id="addBihinForm">
										<div class="form-group">
											<label for="expectedReturnAt">返却期限：</label>
											<input type="text" class="form-control" id="expectedReturnAt" placeholder="2019-04-15">
										</div>
									</form>
									<div class="form-group">
										<label for="rentMemo">備考</label>
										<textarea class="form-control" id="rentMemo" placeholder="会議で使用します。等"></textarea>
									</div>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-default" data-dismiss="modal">キャンセル</button>
									<button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
								</div>
							</div>
						</div>
					</div>
				</td>
				<td>
					<% if fixture.rent_user %>
						<%= fixture.rent_user.name %>
					<% end %>
				</td>
				<td>
					<% if fixture.rent_user %>
						<%= fixture.rent_user.department %>
					<% end %>
				</td>
				<td>
					<% if fixture.rent_user %>
						<%= fixture.rental_histories.order(created_at: 'DESC').first.expected_return_at %>
					<% end %>
				</td>
				<td>
					<% if fixture.rent_user %>
						<%= fixture.rental_histories.order(created_at: 'DESC').first.note %>
					<% end %>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>

<%= paginate @fixtures %>