<table class="table table-hover">
	<thead>
		<tr>
			<th>品名</th>
			<th>型番</th>
			<th>保管場所</th>
			<th>状態</th>
			<th>借りた人</th>
			<th>所属部署</th>
		</tr>
	</thead>
	<tbody>
		<% @fixture.all.each do |fixture| %>
			<tr>
				<td>
					<%= fixture.name %>
				</td>
				<td>
					<%= fixture.type_number %>
				</td>
				<td>
					<%= @room.find(fixture.room).name %>
				</td>
				<td>
					<% if fixture.rent %>
						貸出中
					<% else %>
						<button class="btn btn-default">借りる</button>
					<% end %>
				</td>
				<td>
					<% if fixture.rent_user %>
						<%= fixture.rent_user.name %>
					<% end %>
				</td>
				<td>
					<% if fixture.rent_user %>
						<%= fixture.rent_user.department %>
					<% end %>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>