<% if admin_logged_in? %>
  <div class="jumbotron">
    	<%= link_to image_tag('bihin-img.png', :size => '400x400', class:'img-circle'),fixtures_path %>
    	<%= link_to image_tag('member-img.png', :size => '400x400', class:'img-circle'),users_path %>
  </div>
<% else %>
  <!--<h1 class="text-center">Bihin.com</h1>-->
  <%= image_tag 'logo.png', :size => '375x116', class:'img-responsive center-block' %>
  
      <div class="row">
          <div class="col-xs-8 col-xs-offset-2">
            <div class="form-group">
          		<div class="input-group">
          			<%= form_tag(fixtures_path,:method => 'get') do %>
          			  <%= text_field_tag :query, '', class: "form-control", placeholder: "備品名、型番" %>
          			  <span class="input-group-btn">
          			  <%= submit_tag 'Search', :name => nil, class: "btn btn-default" %>
          			  </span>
          			<% end %>
          		</div>
          	</div>
          </div>
      </div>
  

  <div class="center jumbotron">
    <div class="text-center">
      <h1>Welcome to the Bihin.com</h1>
      
<%= link_to 'Sign up now!', signup_path, class: 'btn btn-lg btn-primary' %>

    </div>
  </div>
<% end %>